<div class="modal fade md-modal md-lg colored-header" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body modal-overflow-fix">
                <form role="form">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="col-md-12 form-group">
                                <label for="name" class="required">Rework Name</label>
                                <input type="text" id="name" name="name" class="form-control" value="" />
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="project"  class="required">Project</label>
                                <select id="project" name="project" class="form-control">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="submitted-by"  class="required">Submitted By</label>
                                <select id="submitted-by" name="submittedBy" class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-md-12 form-group">
                                <label for="component-rework">Component Rework</label>
                                <input type="checkbox" id="component-rework" name="componentRework"
                                       class="inline-checkbox" />
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="is-active">Active</label>
                                <input type="checkbox" id="is-active" class="inline-checkbox" />
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="technical-contact">Technical Contact</label>
                                <select id="technical-contact" name="technical-contact" class="form-control">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="approved-by">ESS Approved By</label>
                                <select id="approved-by" name="approvedBy" class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="col-md-12 form-group">
                                <label class="required">Builds</label>
                            </div>
                            <div id="builds-wrapper">
                            </div>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #e2e0e0;    margin-bottom: 2rem;"></div>
                    <div class="row">
                    <div class="col-xs-5">
                        <div class="col-md-12 form-group">
                            <label>
                                Instructions Supplied
                                <input type="checkbox" id="instructions-supplied"
                                       name="instructions[instructionsSupplied]" class="inline-checkbox" />
                            </label>
                        </div>
                        <div class="col-md-12 form-group">
                            <label>
                                Parts Required
                                <input type="checkbox" id="parts-required" name="instructions[partsRequired]" class="inline-checkbox" />
                            </label>
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Received How?</label>
                            <select class="form-control" id="received-how-select" name="instructions[source]">
                                <option value="Phone">Phone</option>
                                <option value="Email">Email</option>
                                <option value="Document">Document</option>
                                <option value="Radar">Radar</option>
                                <option value="Training">Training</option>
                                <option value="Verbal">Verbal</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="required">Inspection Type</label>
                            <div class="">
                                <label><input type="radio" name="instructions[inspectionType]"
                                              value="STANDARD" /> Standard</label>
                                <label><input type="radio" name="instructions[inspectionType]"
                                              value="RESTART" /> Restart</label>
                                <label><input type="radio" name="instructions[inspectionType]"
                                              value="EXTENDED" /> Extended</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label>
                                Inspected
                                <input type="checkbox" id="inspected" name="instructions[inspected]"
                                       class="inline-checkbox" />
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="col-md-12 form-group">
                            <label for="radar-issue-no">Radar Issue No.</label>
                            <input type="text" id="radar-issue-no" name="radar-issue-no"
                                   class="form-control" value="" />
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="instructions">Instructions</label>
                            <textarea class="form-control" id="instructions" name="instructions[description]"
                                      style="min-height: 20rem;"></textarea>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-rework">
                    Cancel
                </button>
                <button type="button" class="btn btn-danger" id="save-rework">Save</button>
            </div>
        </div>
    </div>
</div>
