<div id="instructions-tab">
   <div class="col-md-6">
      <dl class="dl-horizontal">
         <dt><b>Instructions</b></dt>
         <dd></dd>
         <dt><label>Instructions Supplied</label></dt>
         <dd><input disabled name="instructions-supplied" type="checkbox" /></dd>
         <dt><label>Received How?</label></dt>
         <dd>
            <span id="received-how-select"></span>
         </dd>
         <dt><label>Parts Required</label></dt>
         <dd><input disabled type="checkbox" name="parts-required" /></dd>
      </dl>

      <dl class="dl-horizontal">
         <dt><b>Inspection</b></dt>
         <dd></dd>
         <dt><label>Inspected?</label></dt>
         <dd><input disabled type="checkbox" name="inspected" /></dd>
         <dt><label>Inspection Type</label></dt>
         <dd>
            <label><input disabled type="radio" name="inspection-type" value="STANDARD" /> Standard</label>
            <label><input disabled type="radio" name="inspection-type" value="RESTART" /> Restart</label>
            <label><input disabled type="radio" name="inspection-type" value="EXTENDED" /> Extended</label>
         </dd>
         <dt><label>Radar Issue No.</label></dt>
         <dd><span id="radar-issue-number"></span></dd>
      </dl>
   </div>
   <div class="col-md-6">
      <div class="apple-window-wrapper" id="rework-instructions">
         <div class="apple-window-header">Instructions</div>
         <div class="apple-window-body"></div>
      </div>
   </div>
</div>
