<?php
/* @var $project \Pinpoint\Domain\Project\Project */
/* @var $projectTypes \Pinpoint\Domain\Project\Type[] */

use Pinpoint\Domain\Project\Team;
use Pinpoint\Domain\Project\TeamMember;
use Pinpoint\Domain\Ticket\Priority;

$this->setLayout('layout::staff', ['activeTab' => 'projects']);
$activeTab = 'projects';
$defaultEssTech = $project->getDefaultEssTech();

?>
<div class="row detail-number-actions" id="top-header">
    <div id="top-sub-header" class="center-div">
        <div class="col-md-3" id="project-details-name">
            <h3><?php echo $this->escape($project->getName()); ?></h3>
        </div>
        <div id="project-detail-actions" class="col-md-9" >
            <a id="edit-project-btn" class="btn btn-default">Edit Project</a>
            <a id="add-project-btn" class="btn btn-default">Add Project</a>
            <?php if ($project->isActive()) : ?>
                <a class="btn btn-default change-project-status" data-status="0">Deactivate</a>
            <?php else : ?>
                <a class="btn btn-default change-project-status" data-status="1">Activate</a>
            <?php endif; ?>
        </div>
    </div>
</div>

<div class="row" id="top-page-container">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt><label>Project Name:</label></dt>
            <dd><?php echo $this->escape($project->getName()); ?></dd>
            <dt><label>Project Type:</label></dt>
            <dd><?php echo $this->escape($project->getType()); ?></dd>
            <dt><label>Priority:</label></dt>
            <dd><?php echo $this->escape($project->getDefaultTicketPriority()); ?></dd>
            <dt><label>Status:</label></dt>
            <dd><?php echo ($project->isActive() ? 'Active' : 'Inactive'); ?></dd>
            <dt><label>Default ESS Tech:</label></dt>
            <dd>
                <?php echo $this->escape((null !== $defaultEssTech ? $defaultEssTech->getFullName() : '')); ?>
            </dd>
            <dt><label>ITrackId</label></dt>
            <dd><?php echo $project->getITrackId(); ?></dd>
        </dl>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered build-list-table">
            <thead>
                <tr id="build-list-table-header">
                    <th>Build Levels and Reworks</th>
                    <th>iTrack Phase ID</th>
                    <th id="build-list-table-action">
                        <button class="btn btn-default" id="add-build-level">Add Build Level</button>
                    </th>
                </tr>
            </thead>
            <tbody class="build-list-table-body">
            <?php foreach ($project->getBuilds() as $build) : ?>
                <tr>
                    <td class="build-list-name"><i class="glyphicon glyphicon-triangle-right toggle-content"></i>
                        <?php echo $this->escape($build->getName()); ?></td>
                    <td class="build-list-itrack"><?php echo $build->getITrackId(); ?></td>
                    <td class="build-list-actions">
                        <i class="glyphicon glyphicon-pencil edit-build" data-id="<?php echo $build->getId(); ?>"></i>
                        <?php if (! $project->getReworks() && ! $project->isITracked()) : ?>
                            <i class="glyphicon glyphicon-remove remove-build"></i>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr class="build-list-content-wrapper">
                   <td colspan="3">
                       <table class="table table-striped build-content">
                           <thead>
                               <tr class="build-list-table-content-header">
                                   <th>Reworks for <?php echo $this->escape($build->getName()); ?></th>
                                   <th>Status</th>
                                   <th>Shown in Kiosk</th>
                               </tr>
                           </thead>
                           <tbody class="build-list-table-content-body">
                                <?php foreach ($build->getReworks() as $rework) : ?>
                                   <tr>
                                       <td><a href><?php echo $this->escape($rework->getName()); ?></a></td>
                                       <td><?php echo ($rework->isActive() ? 'Active' : 'Inactive'); ?></td>
                                       <td><input type="checkbox" /> </td>
                                   </tr>
                                <?php endforeach; ?>
                                <?php if (! $build->getReworks()) : ?>
                                    <tr>
                                        <td colspan="3">There are no reworks.</td>
                                    </tr>
                                <?php endif; ?>
                           </tbody>
                       </table>
                   </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#team" aria-controls="team" role="tab" data-toggle="pill">Team</a>
    </li>
    <li role="presentation">
        <a href="#email-history" aria-controls="email-history" role="tab" data-toggle="pill">Email History</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="team">

        <div id="team-info-wrapper">
            <div id="team-info-top-action">
                <a href>Set PSE Transition</a>
            </div>
            <div class="col-md-7">
                <div class="apple-window-wrapper">
                    <div class="apple-window-header">
                        System Team
                    </div>
                    <div class="apple-window-body">
                        <?php $systemTeam = $project->getSystemTeam(); ?>
                        <table class="apple-window-info-table">
                            <tr>
                                <td>System EPM</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::SYSTEM_EPM,
                                    ])
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::SYSTEM_EPM,
                                        'position' => 1
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>Hardware EPM</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::HARDWARE_EPM,
                                    ])
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::HARDWARE_EPM,
                                        'position' => 1
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>System EPS</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::SYSTEM_EPS,
                                    ])
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::SYSTEM_EPS,
                                        'position' => 1
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>PD EPM</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::PD_EPM,
                                    ])
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::PD_EPM,
                                        'position' => 1
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>PD Lead</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::PD_LEAD,
                                    ])
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::PD_LEAD,
                                        'position' => 1
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>PD EPS</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::PD_EPS,
                                    ])
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::PD_EPS,
                                        'position' => 1
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>ESS EPM</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::ESS_EPM,
                                    ])
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::ESS_EPM,
                                        'position' => 1
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>EE Manager</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::EE_MANAGER,
                                    ])
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::EE_MANAGER,
                                        'position' => 1
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>EE Lead</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::EE_LEAD,
                                    ])
                                    ?>
                                </td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $systemTeam,
                                        'role' => TeamMember::EE_LEAD,
                                        'position' => 1
                                    ])
                                    ?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="apple-window-wrapper">
                    <div class="apple-window-header">
                        PSE Team
                    </div>
                    <div class="apple-window-body">
                        <?php $pseTeam = $project->getPseTeam(); ?>
                        <table class="apple-window-info-table">
                            <tr>
                                <td>PSE EPM</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $pseTeam,
                                        'role' => TeamMember::SYSTEM_EPM,
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>Hardware EPM</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $pseTeam,
                                        'role' => TeamMember::HARDWARE_EPM,
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>PSE EPS</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $pseTeam,
                                        'role' => TeamMember::SYSTEM_EPS,
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>PD EPM</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $pseTeam,
                                        'role' => TeamMember::PD_EPM,
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>PD Lead</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $pseTeam,
                                        'role' => TeamMember::PD_LEAD,
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>PD EPS</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $pseTeam,
                                        'role' => TeamMember::PD_EPS,
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>ESS EPM</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $pseTeam,
                                        'role' => TeamMember::ESS_EPM,
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>EE Manager</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $pseTeam,
                                        'role' => TeamMember::EE_MANAGER,
                                    ])
                                    ?>
                                </td>
                            </tr>
                            <tr>
                                <td>EE Lead</td>
                                <td>
                                    <?php
                                    echo $this->insert('staff-project::partials/team-member-element', [
                                        'team' => $pseTeam,
                                        'role' => TeamMember::EE_LEAD,
                                    ])
                                    ?>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="email-history">@todo Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </div>
</div>

<?php $this->start('inline-scripts'); ?>
    <script type="text/javascript">
        window.projectId = <?php echo json_encode((string) $project->getId()); ?>;

        let projectReworks =
            <?php
            echo json_encode(
                array_map(function ($rework) : array {
                        return [
                            'id' => (string) $rework->getId(),
                            'name' => $rework->getName(),
                            'isActive' => $rework->isActive()
                        ];
                }, $project->getReworks())
            );
            ?>
        ;

        let projectTypes =
            <?php
            echo json_encode(
                array_map(function ($type) : array {
                    return ['label' => (string) $type, 'value' => (string) $type->getId()];
                }, $projectTypes)
            );
            ?>
        ;

        let systemTeam = <?php echo json_encode(Team::SYSTEM); ?>;
        let pseTeam = <?php echo json_encode(Team::PSE); ?>;

        let teamRoles =
            <?php
            echo json_encode(
                array_map(function ($role) : array {
                    $label = ucwords(str_replace('-', ' ', $role));
                    return ['label' => $label, 'role' => $role];
                }, TeamMember::VALID_ROLES)
            );
            ?>
        ;

        let priorities =
            <?php
            echo json_encode(
                array_map(function (int $value) : array {
                    return ['label' => (string) new Priority($value), 'value' => (string) $value];
                }, range(Priority::MIN, Priority::MAX))
            );
            ?>
        ;

        let editFormDefaults =
            <?php
            $systemTeam = $project->getSystemTeam();
            $pseTeam = $project->getPseTeam();

            if (null !== $defaultEssTech) {
                $defaultEssTech = [
                    'name' => $defaultEssTech->getFullName(),
                    'id' => (string) $defaultEssTech->getDsId()
                ];
            } else {
                $defaultEssTech = null;
            }

            echo json_encode([
                'project' => [
                'name' => $project->getName(),
                'id' => (string) $project->getId(),
                'isItracked' => $project->isITracked(),
                'priorityId' => $project->getDefaultTicketPriority()->toInt(),
                'typeId' => (null !== $project->getType() ? (string) $project->getType()->getId() : null),
                'defaultEssTech' => $defaultEssTech,
                'systemTeam' => array_map(function (string $role) use ($systemTeam) : array {
                    $members = [];
                    for ($i = 0; $i < 2; $i++) {
                        $member = $systemTeam->getMember($role, $i);
                        if (null !== $member) {
                            $members[] = [
                                'id' => (string) $member->getDsId(),
                                'name' => $member->getFullName()
                            ];
                        }
                    }

                    return ['role' => $role, 'members' => $members];
                }, TeamMember::VALID_ROLES),
                'pseTeam' => array_map(function (string $role) use ($pseTeam) : array {
                    $members = [];
                    $member = $pseTeam->getMember($role);
                    if (null !== $member) {
                        $members[] = [
                            'id' => (string) $member->getDsId(),
                            'name' => $member->getFullName()
                        ];
                    }

                    return ['role' => $role, 'members' => $members];
                }, TeamMember::VALID_ROLES),
                ]
            ]);
            ?>
        ;
    </script>
    <script type="text/javascript" src="/dist/Staff/Project/Detail.bundle.js"></script>
<?php $this->stop(); ?>
