<?php
/* @var $projectTypes \Pinpoint\Domain\Project\Type[] */

use Pinpoint\Domain\Project\Team;
use Pinpoint\Domain\Project\TeamMember;
use Pinpoint\Domain\Ticket\Priority;

$this->setLayout('layout::staff', ['activeTab' => 'projects']);
?>

<div id="top-sub-header" class="center-div">
    <h3>
        Project List
    </h3>
</div>

<table class="table table-striped table-bordered dt-responsive nowrap" id="projects">
    <thead>
        <tr>
            <th data-name="project_id"></th>
            <th data-name="project">Project</th>
            <th data-name="i_track_id">iTrack ID</th>
            <th data-name="active" data-field-type="boolean">Active</th>
            <th data-name="system_epm">System EPM</th>
            <th data-name="hardware_epm">Hardware EPM</th>
            <th data-name="system_eps">System EPS</th>
            <th data-name="pd_epm">PD EPM</th>
            <th data-name="pd_lead">PD Lead</th>
            <th data-name="pd_eps">PD EPS</th>
            <th data-name="ess_epm">ESS EPM</th>
            <th data-name="ee_manager">EE Manager</th>
            <th data-name="ee_lead">EE Lead</th>
            <th data-name="default_ess_tech">Default ESS Tech</th>
            <th data-name="last_modified_date" data-field-type="datetime">Last Modified Date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<?php $this->start('footer'); ?>
    <button id="add-project-btn" class="btn btn-default">Add Project</button>
<?php $this->stop(); ?>

<?php $this->start('inline-scripts'); ?>
<script type="text/javascript">

    let projectTypes =
        <?php
        echo json_encode(
            array_map(function ($type) : array {
                return ['label' => (string) $type, 'value' => (string) $type->getId()];
            }, $projectTypes)
        );
        ?>
    ;

    let systemTeam = <?php echo json_encode(Team::SYSTEM); ?>;
    let pseTeam = <?php echo json_encode(Team::PSE); ?>;

    let teamRoles =
        <?php
        echo json_encode(
            array_map(function ($role) : array {
                $label = ucwords(str_replace('-', ' ', $role));
                return ['label' => $label, 'role' => $role];
            }, TeamMember::VALID_ROLES)
        );
        ?>
    ;

    let priorities =
        <?php
        echo json_encode(
            array_map(function (int $value) : array {
                return ['label' => (string) new Priority($value), 'value' => (string) $value];
            }, range(Priority::MIN, Priority::MAX))
        );
        ?>
    ;
    </script>
    <script type="text/javascript" src="/dist/Staff/Project/List.bundle.js"></script>
<?php $this->stop(); ?>
