<div class="modal fade md-modal md-lg colored-header" tabindex="-1" role="dialog" id="manage-add-project">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form role="form">
                            <div class="col-md-6 form-group">
                                <label for="project-name">Project Name</label>
                                <input type="text" id="project-name" name="project-name" class="form-control"
                                       value="" />
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="project-types">Project Type</label>
                                <select id="project-types" name="project-types" class="form-control">
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="priority">Priority</label>
                                <select id="priority" name="priority" class="form-control">
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="default-ess-tech">Default ESS Tech</label>
                                <select id="default-ess-tech" name="default-ess-tech" class="form-control chosen">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <table class="apple-window-info-table team-column col-md-6" id="system-team">
                                    <tr><td colspan="3">System Team</td></tr>
                                </table>
                                <table class="apple-window-info-table team-column col-md-5" id="pse-team">
                                    <tr><td colspan="2">Pse Team</td></tr>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-create-project">
                    Cancel
                </button>
                <button type="button" class="btn btn-danger" id="save-create-project">Save</button>
            </div>
        </div>
    </div>
</div>
