<?php

use Pinpoint\Domain\Build\Build;
use Pinpoint\Domain\Project\Project;

$this->setLayout('layout::staff', ['activeTab' => 'reworks']);
/* @var $rework Pinpoint\Domain\Rework\Rework */
/* @var $project \Pinpoint\Domain\Project\Project */
$project = $rework->getProject();
?>

<div class="row detail-number-actions">
    <div class="col-sm-6">
        <b>
            <?php echo $rework->getName(); ?>
        </b>
    </div>
    <div id="rework-detail-actions" class="col-sm-6">
        <button type="button" id="editRework" class="btn btn-default">Edit Rework</button>
        <button type="button" id="createRework" class="btn btn-default">Create Rework</button>
    </div>
</div>

<div class="row" id="rework-detail-information">
    <div class="col-sm-3">
        <dl class="dl-horizontal">
            <dt><label>Rework Name:</label></dt>
            <dd><?php echo $this->escape($rework->getName()); ?></dd>
            <dt><label>Shown in Kiosk</label></dt>
            <dd><input type="checkbox" disabled></dd>
            <dt><label>Project</label></dt>
            <dd><?php echo $this->escape($project->getName()); ?></dd>
            <dt><label>Component Rework</label></dt>
            <dd><input type="checkbox" disabled <?php echo ($rework->isComponentRework() ? 'checked' : ''); ?>></dd>
        </dl>
    </div>
    <div class="col-sm-4">
        <dl class="dl-horizontal">
            <dd><label>Builds Assigned</label>:</dd>
            <dd>
               <ul id="rework-builds-assigned">
                <?php foreach ($rework->getBuilds() as $build) : ?>
                <li><input type="checkbox" disabled checked /> <?php echo $this->escape($build->getName()); ?></li>
                <?php endforeach; ?>
               </ul>
            </dd>
        </dl>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <dl class="dl-horizontal">
            <dt><label>Submitted By:</label></dt>
            <dd><?php echo $this->escape($rework->getSubmittedBy()->getFullName()); ?></dd>
            <dt><label>Submitted By Dept.:</label></dt>
            <dd><?php echo $this->escape($rework->getSubmittedBy()->getDepartment()->getName()); ?></dd>
            <dt><label>Technical Contact:</label></dt>
            <dd>
                <?php
                if (null !== $rework->getTechnicalContact()) {
                    echo  $this->escape($rework->getTechnicalContact()->getFullName());
                }
                ?>
            </dd>
            <dt><label>ESS Appoved By:</label></dt>
            <dd>
                <?php
                if (null !== $rework->getApprovedBy()) {
                    echo $this->escape($rework->getApprovedBy()->getFullName());
                }
                ?>
            </dd>
            <dt><label>Approved Date & Time:</label></dt>
            <dd>
                <?php
                if (null !== $rework->getApprovedAt()) {
                    echo $rework->getApprovedAt()->format('m-d-Y H:i a');
                }
                ?>
            </dd>
        </dl>
    </div>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a data-toggle="pill" href="#instructionsTab">Instructions</a></li>
    <li  role="presentation"><a data-toggle="pill" href="#attachmentsTab">Attachments</a></li>
</ul>
<div class="tab-content"></div>

<?php $this->start('inline-scripts'); ?>
<script type="text/javascript" src="/dist/Staff/Rework/Detail.bundle.js"></script>
<script type="text/javascript">
    var rework =
        <?php
        $instructions = $rework->getInstructions();
        $technicalContact = $rework->getTechnicalContact();
        $submittedBy = $rework->getSubmittedBy();
        $approvedBy = $rework->getApprovedBy();
        echo json_encode([
            'instructions' => [
                'description' => (string) $instructions->getDescription(),
                'source' => (string) $instructions->getSource(),
                'arePartsRequired' => $instructions->arePartsRequired(),
                'areInstructionsSupplied' => $instructions->areInstructionsSupplied(),
                'wasInspected' => $instructions->wasInspected(),
                'inspectionType' => $instructions->getInspectionType()->name(),
                'radarIssueNumber' => $instructions->getRadarIssueNumber()
            ],
            'id' => (string) $rework->getId(),
            'name' => $rework->getName(),
            'submittedBy' => [
                'dsid' => (null === $submittedBy ? '' : (string) $submittedBy->getDsId()),
                'name' => (null === $submittedBy ? '' : $submittedBy->getFullName()),
            ],
            'technicalContact' => [
                'dsid' => (null === $technicalContact ? '' : (string) $technicalContact->getDsId()),
                'name' => (null === $technicalContact ? '' : $technicalContact->getFullName()),
            ],
            'approvedBy' => [
                'dsid' => (null === $approvedBy ? '' : (string) $approvedBy->getDsId()),
                'name' => (null === $approvedBy ? '' : $approvedBy->getFullName()),
            ],
            'attachments' => $rework->getAttachments(),
            'project' => [
                'id' => (string) $rework->getProject()->getId(),
                'name' => $rework->getProject()->getName()
            ],
            'shownInKiosk' => true,
            'active' => $rework->isActive(),
            'componentRework' => $rework->isComponentRework(),
            'builds' => array_map(function (Build $build): array {
                return ['name' => $build->getName(), 'id' => (string) $build->getId()];
            }, $rework->getBuilds())
        ]);
        ?>
    ;

    var isStaffPerson = <?php echo json_encode($isStaffPerson); ?>;


    <?php
    $projects = [];

    foreach ($builds as $build) {
        $projectId = (string) $build->getProject()->getId();

        if (! array_key_exists($projectId, $projects)) {
            $projects[$projectId] = [
                'name' => $build->getProject()->getName(),
                'builds' => [],
            ];
        }

        $projects[$projectId]['builds'][(string) $build->getId()] = $build->getName();
    }

    foreach ($projects as &$project) {
        uasort($project['builds'], 'strcmp');
    }
    ?>

    var projects = <?php echo json_encode($projects); ?>;
</script>
<?php $this->stop(); ?>
