<?php $this->setLayout('layout::staff', ['activeTab' => 'reworks']); ?>

<div id="top-sub-header" class="center-div">
    <h3>
        Rework List
    </h3>
</div>

<table class="table table-striped table-bordered dt-responsive nowrap" id="reworks">
    <thead>
        <tr>
            <th data-name="rework_id"></th>
            <th data-name="name">Rework Name</th>
            <th data-name="active" data-field-type="boolean">Active</th>
            <th data-name="project">Project</th>
            <th data-name="builds">Builds</th>
            <th data-name="last_activity_date" data-field-type="datetime">Last Activity Date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<?php $this->start('footer'); ?>
    <button id="create-rework-btn" class="btn btn-default">Create Rework</button>
<?php $this->stop(); ?>

<?php $this->start('inline-scripts'); ?>
    <script type="text/javascript" src="/dist/Staff/Rework/List.bundle.js"></script>
<?php $this->stop(); ?>
