<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Engineering Support Services (ESS)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    

    <div class="container-fluid">
        <?php echo $this->section('content'); ?>
    </div>
    <script type="text/javascript" src="/dist/Lib.js"></script>
    <script type="text/javascript" src="/dist/Common.bundle.js"></script>
    <script type="text/javascript" src="/dist/Billboard/Billboard.bundle.js"></script>
</body>
</html>
