<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Engineering Support Services (ESS)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" id="top-nav-global">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Engineering Support Services (ESS)</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <?php echo $this->section('content'); ?>
    </div>

    <script type="text/javascript">
        <?php if (isset($csrfUuid) && null !== $csrfUuid) : ?>
            window.csrfToken = <?php echo json_encode($this->csrfToken($csrfUuid)); ?>;
        <?php endif; ?>
        <?php if (isset($timeZone) && null !== $timeZone) : ?>
            window.timeZone = <?php echo json_encode($timeZone->getName()); ?>;
        <?php endif; ?>
    </script>
    <script type="text/javascript" src="/dist/Lib.js"></script>
    <script type="text/javascript" src="/dist/Common.bundle.js"></script>
    <?php echo $this->section('inline-scripts'); ?>
</body>
</html>
