---
subject: '<?php echo addslashes($subject); ?>'

---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>&#xF8FF; Engineering Support Services (ESS)</title>
    <style type="text/css">
        body {
            background-color: #ffffff;
            font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
            padding-left: 15px;
            padding-right: 15px;
            text-align: left;
        }

        table.email-table {
            margin: 15px auto;
            border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -webkit-font-smoothing: antialiased;
            text-align: left;
        }

        table.email-table thead th {
            border-radius: 6px 6px 0 0;
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            background-color: #a7a7a7;
            padding: 10px 30px;
            color: #ffffff;
            font-size: 20px;
            font-weight: normal;
            text-align: left;
        }

        table.email-table tbody td {
            background-color: #ffffff;
            padding: 15px 30px;
            border-left: 1px solid #c7c7c7;
            border-right: 1px solid #c7c7c7;
        }

        table.email-table tfoot td {
            border-radius: 0 0 6px 6px;
            -moz-border-radius: 0 0 6px 6px;
            -webkit-border-radius: 0 0 6px 6px;
            background-color: #a7a7a7;
            padding: 15px 30px;
            color: #ffffff;
        }

        table.footer {
            width: 100%;
            border-collapse: collapse;
        }

        table.email-table table.footer tr td {
            padding: 0;
        }

        td.footer-url a:link {
            color: #ffffff;
            text-decoration: none;
        }

        td.footer-url a:hover {
            text-decoration: underline;
        }

        td.footer-url a:visited {
            color: #ffffff;
            text-decoration: none;
        }

        table.email-table table.project, table.email-table table.work-type {
            border-top: 1px solid #dddddd;
            border-left: 1px solid #dddddd;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 15px;
        }

        table.email-table table.project thead th, table.email-table table.work-type thead th {
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            background-color: #EAEAEA;
            border-right: 1px solid #dddddd;
            text-align: left;
            color: #333;
            font-size: 11px;
            font-weight: normal;
            text-transform: uppercase;
            vertical-align: bottom;
            padding: 4px 6px;
        }

        table.email-table table.project td, table.email-table table.work-type td {
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            border-left: 1px solid #dddddd;
            text-align: left;
            vertical-align: top;
            font-size: 13px;
            font-weight: normal;
            color: #444444;
            padding: 4px 6px;
        }

        .headline {
            color: #444444;
            font-size: 28px;
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 0 0 15px 0;
        }

        .article-title {
            font-size: 18px;
            line-height: 24px;
            color: #333333;
            font-weight: normal;
            margin-top: 0px;
            margin-bottom: 18px;
        }

        .article-content {
            font-size: 13px;
            line-height: 18px;
            color: #444444;
            margin-top: 0px;
            margin-bottom: 0;
        }

        .article-content a, .article-content a:visited {
            color: #0088cc;
            font-weight: normal;
            text-decoration: none;
        }

        .article-content a:hover {
            text-decoration: underline;
        }

        p.alert {
            font-weight: normal;
            color: #cc0000;
            background-color: #EEE;
            padding: 15px;
            border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
        }

        a.phone[href^=tel]:link {
            color: #ffffff;
            padding: 0;
            margin: 0;
        }

        a.phone[href^=tel]:hover {
            color: #0088cc;
        }

        table.footer tr td {
            border: none;
        }

        .footer ul {
            margin: 0;
            padding: 0;
            font-size: 13px;
            color: #ffffff;
        }

        .footer ul li {
            display: block;
            text-align: left;
            border: none;
        }

        .footer ul li:first-child {
            float: left;
        }

        .footer ul li:last-child {
            float: right;
        }

        .footer ul li a:link, .footer ul li a:visited {
            color: #ffffff;
            text-decoration: none;
        }

        .footer ul li a:hover {
            color: #0088cc;
            text-decoration: underline;
        }

        @media screen and (max-width: 320px) {
            .footer ul li:last-child {
                clear: both;
                float: left;
                text-align: left;
            }
        }
    </style>
</head>
<body>
    <table class="email-table" cellspacing="0">
        <thead>
            <tr>
                <th>&#xF8FF; Engineering Support Services (ESS)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p class="article-title">
                        <?php echo $this->escape($title); ?>
                    </p>
                    <div class="article-content">
                        <?php echo $this->section('content'); ?>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <table class="footer">
                        <tr>
                            <td>
                                <ul>
                                    <li>ESS | <a href="tel:1-408-974-5033" class="phone">(408) 974-5033</a></li>
                                    <li><a href="http://ess.apple.com" class="url">ess.apple.com</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>
