<?php
/* @var $identity Pinpoint\Infrastructure\Identity\Identity */
/* @var $csrfUuid Ramsey\Uuid\UuidInterface */
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Engineering Support Services (ESS)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <?php if (! empty($debug)) : ?>
        <div class="collapsible-panel">
            <div class="collapsible-panel-inner">
                <div class="collapsible-panel-toggle">
                    <span class="vertical primary-600">
                        <span class="glyphicon glyphicon-barcode primary-600"></span> Scan
                    </span>
                </div>
                <div class="collapsible-panel-content">
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" id="mock-scan-value" />
                        </div>
                        <button type="button" class="btn btn-success" id="trigger-mock-scan">Trigger scan</button>
                    </form>
                </div>
            </div>
        </div>
    <?php endif; ?>

    <nav class="navbar navbar-default navbar-static-top" id="top-nav-global">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="brand-container">
                    <?php if (isset($backButtonUrl)) : ?>
                        <!-- <a class="btn btn-default exit-btn" href="<?php echo $backButtonUrl; ?>">
                            Back
                        </a> -->
                    <?php endif; ?>
                <a class="navbar-brand" href="<?php echo $this->url('kiosk/choose-path'); ?>">
                    Engineering Support Services (ESS)</a>
            </div>
            </div>

            <div id="navbar">

                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-text">
                            <?php if (null !== $identity) : ?>
                                Welcome <?php echo $this->escape($identity->getPerson()->getFullName()); ?>
                            <?php else : ?>
                                Please Sign In
                            <?php endif; ?>
                            <div id="shown-lab-location">
                                <?php echo $this->escape((string) $labLocation); ?>
                            </div>
                        </li>
                            <?php if (null !== $identity) : ?>
                                <li>
                                    <?php echo $this->insert('form::exit-button', ['csrfUuid' => $csrfUuid]); ?>
                                </li>
                            <?php endif; ?>
                    </ul>

            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <?php echo $this->section('content'); ?>
    </div>

    <?php if (null !== $this->section('footer')) : ?>
        <footer class="navbar-fixed-bottom affix-bottom">
            <?php echo $this->section('footer'); ?>
        </footer>
    <?php endif; ?>

    <script type="text/javascript">
        <?php if (null !== $identity) : ?>
            window.sessionId = <?php echo json_encode((string) $identity->getSessionId()); ?>;
        <?php endif; ?>
        window.csrfToken = <?php echo json_encode($this->csrfToken($csrfUuid)); ?>;
        window.timeZone = <?php echo json_encode($timeZone->getName()); ?>;
        window.timeoutSettings = <?php echo json_encode($this->kioskTimeoutSettings()); ?>;
    </script>
    <script type="text/javascript" src="/dist/Lib.js"></script>
    <script type="text/javascript" src="/dist/Common.bundle.js"></script>
    <script type="text/javascript" src="/dist/Kiosk/Timeout.bundle.js"></script>
    <?php if (! empty($debug)) : ?>
        <script type="text/javascript" src="/dist/Kiosk/ScanMock.bundle.js"></script>
    <?php endif; ?>
    <?php echo $this->section('inline-scripts'); ?>
</body>
</html>
