<?php
/* @var $identity Pinpoint\Infrastructure\Identity\Identity */
/* @var $csrfUuid Ramsey\Uuid\UuidInterface */
/* @var $activeTab string */

if (! isset($activeTab)) {
    $activeTab = '';
}
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Engineering Support Services (ESS)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" id="top-nav-global">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand staff-app">
                    <a href="<?php echo $this->url('staff/admin'); ?>"></a>
                    <a href="<?php echo $this->url('staff/sign-in'); ?>">Engineering Support Services (ESS)</a>
                </div>
            </div>

            <div id="navbar">
                <?php if (null !== $identity) : ?>
                    <ul class="nav navbar-nav navbar-center" id="staff-navbar">
                        <li>
                            <a class="navbar-link <?php echo($activeTab === 'tickets' ? 'active' : ''); ?>"
                                href="<?php echo $this->url('staff/ticket/list'); ?>">Tickets</a>
                        </li>
                        <li>
                            <a class="navbar-link <?php echo($activeTab === 'projects' ? 'active' : ''); ?>"
                               href="<?php echo $this->url('staff/project/list'); ?>">
                                Projects</a>
                        </li>
                        <li>
                            <a class="navbar-link <?php echo($activeTab === 'reworks' ? 'active' : ''); ?>"
                                href="<?php echo $this->url('staff/rework/list'); ?>">Reworks</a>
                        </li>
                        <li>
                            <a class="navbar-link <?php echo($activeTab === 'ptNumbers' ? 'active' : ''); ?>"
                                href="<?php echo $this->url('staff/pt-number/list'); ?>">PT Numbers</a>
                        </li>
                        <li>
                            <a class="navbar-link <?php echo($activeTab === 'relocateUnits' ? 'active' : ''); ?>"
                                href="#">Relocate Units</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navbar-text">
                            <div style="text-align: right">
                                Welcome <?php echo $this->escape($identity->getPerson()->getFullName()); ?>
                            </div>
                            <div id="shown-lab-location">
                                <span class="change-location-btn">
                                    <?php echo $this->escape((string) $labLocation); ?>
                                </span>
                                <a class="change-location-btn">change</a>
                                <select id="lab-location-options"></select>
                                <a id="close-lab-location-options"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </li>
                        <li>
                            <?php echo $this->insert('form::exit-button', ['csrfUuid' => $csrfUuid]); ?>
                        </li>
                    </ul>
                <?php endif; ?>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <?php echo $this->section('content'); ?>
    </div>

    <?php if (null !== $this->section('footer')) : ?>
        <footer class="navbar-fixed-bottom affix-bottom">
            <?php echo $this->section('footer'); ?>
        </footer>
    <?php endif; ?>

    <script type="text/javascript">
        <?php if (null !== $identity) : ?>
            window.sessionId = <?php echo json_encode((string) $identity->getSessionId()); ?>;
        <?php endif; ?>
        window.csrfToken = <?php echo json_encode($this->csrfToken($csrfUuid)); ?>;
        window.timeZone = <?php echo json_encode($timeZone->getName()); ?>;
        <?php if (null !== $labLocation) : ?>
            window.labLocationId = <?php echo json_encode($labLocation->getId()->__toString()); ?>
        <?php else : ?>
            window.labLocationId = null;
        <?php endif; ?>
    </script>
    <script type="text/javascript" src="/dist/Lib.js"></script>
    <script type="text/javascript" src="/dist/Common.bundle.js"></script>
    <script type="text/javascript" src="/dist/Staff/Common.bundle.js"></script>
    <?php echo $this->section('inline-scripts'); ?>
</body>
</html>
